  .btn {
    @apply font-bold py-2 px-4 rounded;
    background-color: #efefef;
    border: none;
    color: #111;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 2px 2px;
    font-family: Tahoma, Arial;
    cursor: pointer;
  }

